.container {
  width: 350px;
  text-align: center;
  margin: auto;
  font-family: system-ui;
  color: white;
  font-weight: 500;
}
.container .title {
  padding: 5px 0;
  margin: 5px 0;
  background-color: #f25;
  font-size: 30px;
}
.container .title span {
  color: #fa0;
}
.container .square {
  float: left;
  width: 112px;
  height: 100px;
  background-color: #f25;
  margin: 2px;
  font-size: 50px;
  transition: .5s;
}
.container .square:hover{
    background-color: black;
    cursor: pointer;
}
